/* =Redefining Base
-------------------------------------------------------------- */
html,body {
	margin:0 auto;
	color:#333;
	background-image: url(../images/bg.jpg);
}

#oxbody {
	position: absolute;
	width: 100%;
	text-align:center;
	top: 0px;
}

body.logged-in {
	top: 28px;
}

.logged-in #oxbody {
	margin-top: 28px;
}

.container {
	width: 100% !important;
}

.clearfloat { 
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


/* =Theme customization starts here
-------------------------------------------------------------- */

.section-title, .highlight-content, .share-title {
	background: rgba(190,125,30,0.7) url('../images/bg-texture.png') repeat-x top left;
	-webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
	margin:0 auto;
	text-align:left;
}

.highlight-content {
	height: 240px;
}

.main-content, .section-title, .highlight-content, aside#sidebar-footer, .partners, .share-title {
	margin: 0 20px;
}

a.associated {
	margin:10px 10px 0 0;
	width: 160px;
	padding:5px 10px;
	background:rgba(255,255,255,0.3);
	float:left;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
}

a.associated:hover {
	background:rgba(255,255,255,0.8);
	color:#fff;
}


/* =Decorative Styles
-------------------------------------------------------------- */
.emboss {
	-webkit-box-shadow: inset 0 0 10px 0 rgba(68, 60, 19, 0.15);
	-khtml-box-shadow: inset 0 0 10px 0 rgba(68, 60, 19, 0.15);
	-moz-box-shadow: inset 0 0 10px 0 rgba(68, 60, 19, 0.15);
	-o-box-shadow: inset 0 0 10px 0 rgba(68, 60, 19, 0.15);
	box-shadow: inset 0 0 10px 0 rgba(68, 60, 19, 0.15);
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
}

.lighter {
	background:rgba(210, 205, 95, 0.1);
}


/* =Header
-------------------------------------------------------------- */

.oxheader {
	margin: 0 20px;
}

#oxmasthead {
	background: url('../images/bg-header.png') no-repeat center right;
}

.displaying-map .oxheader .oxpecker-ilus {
	margin-top: -60px;
	width: auto;
	height: auto;
}

.oxheader .oxpecker-ilus {
	float: left;
	position: relative;
	z-index: 1000;
	border-radius: 120px;
	margin-bottom: 40px;
	margin-top: 20px;
	height: 123px;
	width: auto;
}

.oxheader h1 {
	float: left;
	line-height: 0;
	margin: 50px 40px;
}

.oxheader h1 a {
	text-indent:-999999px;
	display:block;
}

.oxheader h1 img {
	display: block;
	width: 300px;
	height: auto;
}

#oxmasthead #oxmasthead-nav {
	float:right;
}

#oxmasthead #oxmasthead-nav #searchform {
	margin:45px 20px 10px 0;
	float:right;
}

#oxmasthead #oxmasthead-nav .twitter-follow-button {
	float: right;
	margin-top: 20px;
}

#oxmasthead #oxmasthead-nav #searchform input#s {
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	padding:5px 30px 5px 10px;
	display:block;
	margin:0;
	border:0;
	background:rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0;-khtml-box-shadow:0;-moz-box-shadow:0;-o-box-shadow:0;box-shadow:0;
	-webkit-transition:all 0.2s ease-in-out;-khtml-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;
	-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:11px;
	line-height:18px;
	font-weight:300;
	width:80px;
}
	
#oxmasthead #oxmasthead-nav #searchform input#s:hover,#oxmasthead #oxmasthead-nav #searchform input#s:focus{
	background:rgba(0, 0, 0, 0.7);
	width:200px;
}

#main-nav {
	height: 40px;
	width: 500px;
	float: right;
	margin-top:10px;
}

#main-nav #twitter_div {
	float: right;
	padding-right: 20px;
}

.menu-header_menu-container {
	float: right;
}

#menu-header_menu li {
	border-right: 1px solid #521010;
	padding-right: 10px;
}

#main-nav #twitter_div a {
	padding-left: 10px;
}

#menu-header_menu li, #main-nav #twitter_div a {
	font-size: 18px;
	font-family: "Share Bold";
	text-shadow:1px 1px 3px rgba(0,0,0,0.6);
}


.thumb-highlights, .thumb-staff {
	background:rgba(0,0,0,0.6);
	margin:0 20px 10px 10px;
	float:left;
	overflow:hidden;
}

.thumb-highlights {
	height:140px;
	width:140px;
	-webkit-border-radius: 70px;
	-khtml-border-radius: 70px;
	-moz-border-radius: 70px;
	-o-border-radius: 70px;
	border-radius: 70px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	-khtml-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 0 10px 0 rgba(0,0,0,0.2);
	-o-box-shadow:  0 0 10px 0 rgba(0,0,0,0.2);
	box-shadow:  0 0 10px 0 rgba(0,0,0,0.2);
}

.thumb-staff {
	height:100px;
	width:100px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}

.text-staff {
	min-height:100px;
	margin-bottom: 10px;
}

.highlights-content .highlights-list aside.action {
	float:right;
	width:300px;
}

.single-post .content, .latestnews, .content-container {
	margin: 20px 0 !important;
	float: left !important;
	text-align: left;
	padding: 30px;
}

li.post-columns {
	margin: 0 0 20px 0;
	background:none;
	float:left;
}

.investigation h3 {
	line-height: 30px;
	font-size: 26px;
	margin: 0 0 10px 0;
}

.investigation p.cat_description {
	line-height: 20px;
	height:80px;
	margin:0 0 10px 0;
	overflow: hidden;
}

.investigation p.readmore {
	line-height: 20px;
	height:20px;
	font-size:10px;
	text-align:right;
	margin:0 0 20px 0;
	overflow: hidden;
	border-top:1px dotted #DDD;
}

.thumb-post {
	background:rgba(0,0,0,0.6);
	height:140px;
	width:300px;
	margin:0 10px 5px 0;
	float:left;
}

.posts-list.small li.post-columns {
	margin: 0 10px 20px 10px;
	background: none;
	float: left;
	width: 30%;
	text-align: center;
}

.posts-list.small li.post-columns .thumb-post {
	background:rgba(0,0,0,0.6);
	height:100px;
	width:100px;
	margin:0 31% 5px 30%;
	float:left;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}

.posts-list.small li.post-columns .post-header, .posts-list.small li.post-columns .post-content, .posts-list.small li.post-columns aside.actions {
	float:left;
}


#sidebar {
	float:right;
	width:300px;
	margin:20px 0 0 20px !important;
}


#sidebar-footer ul.widgets li {
	float:left;
	width:31%;
	margin:0 2% 20px 2%;
	text-align:left;
}

#sidebar-footer ul.widgets li:first-child {
	margin:0 1% 20px 0;
}

#sidebar-footer ul.widgets li:last-child {
	margin:0 0 20px 1%;
}

#sidebar .widgets .widget ul li {
	margin: 0;
	padding: 5px 0;
	text-align:left;
	font-size:100% !important;
	background:none !important;
	border:none !important;
	border-bottom: 1px dotted #521010 !important;
}

.app {
	width:50px;
	height:50px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	float:left;
	margin:0 20px 100px 20px;
	background:rgba(0,0,0,0.6);
	text-indent:-99999px;
}

.scptitle {
	text-align: left;
	border-bottom: 1px dotted #BBB;
	padding: 5px 0;
}

.ami, .chinaafrica, .ecolab, .fair, .hacks, .ancir, .anic {
	text-indent:-99999px;
	width: 160px;
	height: 160px;
	float: left;
}

.ecolab, .fair, .hacks, .ancir {
	width: 130px;
}

.ami {
	background: url('../images/brands/AMI.png') no-repeat center center;
}

.chinaafrica {
	background: url('../images/brands/China_AfricaReportingProject.png') no-repeat center center;
}

.ecolab {
	background: url('../images/brands/ecolab.png') no-repeat center center;
}

.fair {
	background: url('../images/brands/fair.png') no-repeat center center;
}

.hacks {
	background: url('../images/brands/hackshackersafrica.png') no-repeat center center;
}

.ancir {
	background: url('../images/brands/ANCIR.png') no-repeat center left;
}

.anic {
	background: url('../images/brands/anic.png') no-repeat center left;
	width: 200px;
}

#get-involved {
	background: rgba(230, 217, 186, 0.6) url('../images/littleoxpecker.png') no-repeat top left;
	padding: 15px;
	margin-right: 10px;
}

.footer-menu {
	width:31%;
	margin:0 20px 20px 0;
	float:right;
	text-align:left;
}

ul#menu-footer_menu li {
	float: left;
	border-left: 1px solid #521010;
	padding: 0 10px;
	display: inline;
}

ul#menu-footer_menu li:first-child {
	border-left: none;
	padding: 0 10px 0 0;
}

.view-all a, .single a.associated {
	font-size: 20px;
	line-height: 40px;
	background: #521010 url('../images/bg-texture.png') repeat-x bottom left;
	color: #f0f0f0 !important;
	display: block;
	text-align: center;
	border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-shadow:1px 1px 3px rgba(0,0,0,0.6);
}

#jeo-share-widget {
	top: 40px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.partners h4,
.footer-brands h4 {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	margin-bottom: -30px;
	margin-top: 20px;
	text-align: left;
}

.footer-brands {
	margin: 0 20px;
	float: right;
}