/* = Map Containers
-------------------------------------------------------------- */
.home .map-container,
.single .map-container {
	width: 100%;
	height: 400px;
	margin: 0;
	min-height: 0;
	position: absolute;
	top: -400px;
}

.displaying-map #oxbody {
	top: 400px;
}

.fullscreen-map.map-container {
	top: 0;	
}

.leaflet-top {
	top: 50px !important;
}

.leaflet-bottom.leaflet-left {
	bottom: auto;
	left: auto;
	top: 10px;
	right: 10px;
}

.leaflet-popup-content h4 {
	font-size: 16px;
	line-height: 20px;
}

.leaflet-top.leaflet-right {
	z-index: 9999;
}

.leaflet-div-icon {
	background: transparent;
	border:0;
}

/*

.map-container .map .leaflet-control-container .leaflet-top {
	top:0;
}

.leaflet-right, .leaflet-left {
	width:100%;
	top:0;
}

.leaflet-control {
	margin: 0 !important;
	height: 30px;
}

*/



/* = Timeline
-------------------------------------------------------------- */
.jeo-date-range-slider {
	position: absolute;
	width: 50% !important;
	background: rgba(0, 0, 0, 0.8) !important;
	box-shadow: none !important;
	bottom: 0;
	right: 240px;
	margin: 0;
	height: 16px !important;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	padding-left: 140px !important;
}

.jeo-date-range-slider:before {
	content: 'Reports Timeline';
	position: absolute;
	left: 10px;
	top: 4px;
	color: #f0f0f0;
	text-transform: uppercase;
	font-family: "Share Bold";
	font-size: 14px;
}

.jeo-date-range-slider .ui-rangeSlider .ui-rangeSlider-innerBar {
	background: url(../images/bgtimeline.png);
	height: 12px;
	border: none !important;
}

.jeo-date-range-slider .ui-rangeSlider .ui-rangeSlider-bar {
	background: rgba(50,50,50,0.7);
}

.jeo-date-range-slider .ui-rangeSlider .ui-rangeSlider-handle {
	background: rgba(114, 0, 0, 0.8);
	width: 4px;
	height: 15px;
}

.jeo-date-range-slider .ui-rangeSlider .ui-rangeSlider-bar {
	background: rgba(0,0,0,0.6);
}

.jeo-date-range-slider .ui-rangeSlider-label .ui-rangeSlider-label-value {
	background: #000000;
	padding: 5px 7px;
	font-size: 11px;
	font-family: "Share Bold";
	color: #FFF;
}


/* = Zoom
-------------------------------------------------------------- 
.leaflet-control-zoom {
left: 20px;
width: 100px;
height:67px;
top: 271px;
border: none;
background: url('../images/bg-controller.png') no-repeat bottom left !important;
padding:13px 130px 0 120px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
float: left; margin:0 10px; padding:0; color:#fff;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
background-color:rgba(255,255,255,0.8);
color: #521010;
border: none;
width: 20px;
height: 20px;
line-height: 20px;
font-size:20px;
display: inline;
text-align: center;
text-decoration: none;
padding: 0;
text-shadow:0 0 5px rgba(0,0,0,0.5);
-webkit-border-radius: 10px !important;
-khtml-border-radius: 10px !important;
-moz-border-radius: 10px !important;
-o-border-radius: 10px !important;
border-radius: 10px !important;
font-weight:bolder;
}


.leaflet-bar a {
    border-bottom: none !important;
	border: none;
}

.leaflet-bar a, .leaflet-bar a:hover {
	background-color: transparent !important;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
	text-shadow:0 0 5px rgba(0,0,0,0.5);
}

*/


/* = Full Screen
--------------------------------------------------------------
.jeo-fullscreen {
float: right;
right: 20px;
top: 10px;
position: absolute;
}

.map-fullscreen {
margin: 0 !important;
float: right;
}

a.map-fullscreen {
 background-color:rgba(0,0,0,0.8);
 color: #fff;
border: none;
width: 30px;
height: 30px;
line-height: 30px;
font-size:15px;
font-weight:bold;
display: block;
text-align: center;
text-decoration: none;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
-moz-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
padding: 0;
text-shadow:0 0 5px rgba(0,0,0,0.5);
}

*/



/* = Map Search
-------------------------------------------------------------- 
.leaflet-control.jeo-geocode {
	width: 115px;
	top: 10px;
	right: 65px;
	position: absolute;
	height: 30px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	background: rgba(0,0,0,0.8);
}

.map-search {
margin: 0;
padding: 0;
border: none;
border-bottom:none !important;
top:20px;
right:20px;
}

.map-search input {
	padding:5px 10px !important;
	color:#fff;
	font-size: 11px;
	font-weight:300;
	line-height:20px;
	letter-spacing: 0.03em;
	font-family: "Share Regular";
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.3);
}

/*.mapsearch input#s {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px 30px 5px 10px;
	display:block;
	margin:0;
	border:0;
	background:rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0;
	-khtml-box-shadow:0;
	-moz-box-shadow:0;
	-o-box-shadow:0;
	box-shadow:0;
	-webkit-transition:all 0.2s ease-in-out;
	-khtml-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;border-radius:5px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:11px;
	line-height:18px;
	font-weight:300;
	width:80px;
}
	
.mapsearch input#s:focus{
	background:rgba(0, 0, 0, 0.7);
	width:200px;
}*/

/* = Legends
-------------------------------------------------------------- */
.map-legends {
padding: 0px !important;
background:none !important;
border:none !important;
overflow:hidden !important;
-webkit-box-shadow:none !important;
box-shadow:none !important;
}

.map-legends .map-legend {
padding: 0px !important;
background:none !important;
border:none !important;
}

#rhinocount, #sharethis, #rhinolegend {
	padding: 10px;
	font-size:12px;
	text-align:center;
	color:#FFF;
	width: 200px;
	margin-top:10px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	background:rgba(0,0,0,0.8);
	overflow:hidden;
}

.map-tooltip {
	background: rgba(0,0,0,0.8);
	color: #fff;
	width: 220px;
	max-width: 220px;
	padding: 10px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	border: 0;
	font-weight: 800;
}

#sharethis {
background: rgba(90,20,10,0.8);
}

#sharethis:hover {
background: rgba(90,20,10,1);
}

#sharethis h1.share {
margin:0;
padding: 0;
color:#fff;
font-size:15px;
line-height: 12px;
letter-spacing:0.01em;
text-shadow:0px 0px 4px rgba(255,255,255,0.4);
}

#sharethis h1.share a {
color:#fff !important;
}

#sharethis h1.share a {
color:#fff;
text-shadow:0px 0px 4px rgba(255,255,255,0.8);
}

#rhinocount h1.rhinoicon {
background: url('../images/rhinoicon.png') no-repeat center top;
padding-top: 20px;
font-size:11px;
line-height: 28px;
margin:0;
font-weight:300;
color:#636363;
width:140px;
text-shadow:0px 0px 4px rgba(0,0,0,0.4);
}

.rhino_deaths {
padding: 0;
font-size:26px;
line-height: 28px;
margin:0;
color:#fff;
text-shadow:0px 0px 4px rgba(255,255,255,0.4);
}

.map-legend .rhino-stories {
	margin-top: 10px;
}

.map-legend .rhino-stories h3 {
	margin: 0;
}

.map-legend h3 {
	text-transform: uppercase;
	font-size: 10px;
	line-height: 20px;
	margin: 0 0 10px;
	color: #fff;
	text-align: left;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#rhinocount h3.count span {
font-size:12px;
font-weight:300;
color:#ccc;
}

#rhinolegend .rhinoitem {
padding: 0 0 0 40px;
line-height: 28px;
font-size: 12px;
text-align: left;
color: #FFF;
margin: 0 0 0 5px;
background-repeat: no-repeat;
background-position: 8px 5px;
font-family: "Share Bold";
text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
letter-spacing: 0.5px;
}

#prisons {
background-image: url('../images/marker-poucher-arrests.png');
}

#death {
background-image: url('../images/marker-rhino-deaths.png');
}

#related {
background-image: url('../images/marker-poucher-deaths.png');
}

.rhino-crisis-filter .layer-filter {
display: block;
clear: none;
height: 35px;
line-height: 12px;
text-align: left;
opacity: .6;
cursor: pointer;
width: 80px;
margin: 0 5px 10px;
float: left;
padding: 5px;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.6);
border-radius: 8px;
}


/* = Switch and Tooltips
-------------------------------------------------------------- */
.leaflet-control.jeo-filter-layers {
background: rgba(0,0,0,0.8);
}

.leaflet-control-container .leaflet-top .map-tooltip, .leaflet-control-container .leaflet-control.jeo-filter-layers .switch-layers li, .leaflet-control-container .leaflet-control.jeo-filter-layers .swap-layers li {
	color:#fff;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	padding:10px;
	width:200px;
	text-align: center;
	font-family: "Share Regular"
}

.leaflet-control-container .leaflet-control.jeo-filter-layers .switch-layers li, .leaflet-control-container .leaflet-control.jeo-filter-layers .swap-layers li {
	border-bottom:none;
}

.leaflet-control-container .leaflet-top .map-tooltip {
	height: 73px;
}