/* =Typography Styles
-------------------------------------------------------------- */

/* Font Import */
@font-face {
   font-family: 'Share Regular';
   src: url('../share-font/Share-Regular-webfont.eot');
   src: local('�'), url('../share-font/Share-Regular-webfont.woff') format('woff'), url('../share-font/Share-Regular-webfont.ttf') format('truetype'), url('../share-font/Share-Regular-webfont.svg#webfontOTINA1xY') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Share Bold';
   src: url('../share-font/Share-Bold-webfont.eot');
   src: local('�'), url('../share-font/Share-Bold-webfont.woff') format('woff'), url('../share-font/Share-Bold-webfont.ttf') format('truetype'), url('../share-font/Share-Bold-webfont.svg#webfontOTINA1xY') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Share Italic';
   src: url('../share-font/Share-Italic-webfont.eot');
   src: local('�'), url('../share-font/Share-Italic-webfont.woff') format('woff'), url('../share-font/Share-Italic-webfont.ttf') format('truetype'), url('../share-font/Share-Italic-webfont.svg#webfontOTINA1xY') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Share Italic Bold';
   src: url('../share-font/Share-BoldItalic-webfont.eot');
   src: local('�'), url('../share-font/Share-BoldItalic-webfont.woff') format('woff'), url('../share-font/Share-BoldItalic-webfont.ttf') format('truetype'), url('../share-font/Share-BoldItalic-webfont.svg#webfontOTINA1xY') format('svg');
   font-weight: normal;
   font-style: normal;
}


/* =Theme customization starts here
-------------------------------------------------------------- */

html,body {
	font:17px/22px;
	font-family: "Share Regular","Open Sans","Helvetica","Arial",sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Share Bold","Open Sans","Helvetica","Arial",sans-serif;
}

#oxbody a {
	color: #521010 !important;
	text-decoration:none;
}

#oxbody a:hover {
	color: #600 !important;
}

.map-header_menu {
float: right;
font-family: "Share Bold";
font-size: 18px;
text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
margin: 10px 0;
}

.map-header_menu li {
float: right;
padding: 0 20px;
border-right:1px solid #521010;
}

.map-header_menu li:first-child {
float: right;
padding: 0 0 0 20px;
border-right:none;
}


.content-container .post-header h3 {
	font-size: 16px;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	font-weight: 100;
	margin: 0;
}

.content-container h2, .textwidget h3, h2.widget-title {
	font-size: 16px;
	line-height:20px;
	margin-bottom: 20px;
	display: block;
	text-align:left;
	letter-spacing:0.06em;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.highlight-content h2 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 10px;
	display: block;
	text-align: right;
	letter-spacing: 0.06em;
	text-shadow: 0px 0px 4px 
	rgba(0,0,0,0.3);
}

.content-container h2 {
	font-size:18px;
	line-height:18px;
}

.textwidget {
	text-align:left;
}

.textwidget h3 {
	color: #fff;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

h2.widget-title {
	color: #000;
	border-bottom:1px solid #521010; 
}

.post-excerpt  {
	height:60px;
	overflow:hidden;
	margin:0;
}

.post-excerpt p {
	line-height:20px !important;
	margin:0 !important;
}

.content-container aside.actions {
	line-height: 22px;
	font-size: 12px;
	font-weight: 600;
	text-align: right;
	border-top: 1px solid #E6E6E6;
	padding-top: 3px;
}

.find-on-map {
	float: left;
	vertical-align: top;
}

p.credits {
	font-size:12px;
	margin: 5px 0 !important;
}

.footer-menu p.credits {
	clear:both;
}

.post-content p.credits {
	color:#A0A0A0;
}

.featured-list .post-text {
	text-shadow: 0px 0px 3px rgba(255,255,255,0.4);
}

.mapfeatured-content .post-header h3 {
	font-size:24px;
	line-height:24px;
	height:48px;
	margin-bottom:5px;
}

.featured-list p.credits {
	color:#FFF;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	font-weight:600;
	margin-bottom:10px;
}

.featured-list .post-content .post-excerpt {
	font-weight:600;
	margin:0 0 20px 0 !important;
	min-height:120px;
	height:120px;
	overflow:hidden;
}

.featured-list aside.actions {
	line-height: 22px;
	font-size: 12px;
	font-weight: 600;
}


#get-involved h3 {
	padding-left: 70px;
	margin:0 !important;
	font-size:32px;
	line-height:26px;
	color:#521010;
}

#get-involved p {
	padding-left: 70px;
	margin:0 !important;
	line-height:20px;
	padding-top:5px;
}

.content h1, .content h2, .content h3 {
	clear:both;
}

.content h1 {
	border-bottom: 1px dotted #DDD;
	color:#521010;
}

.content ul {
	margin-left: 40px;
	list-style: square;
}

.content blockquote {
	margin-left: 20px;
	border-left: 3px solid #521010;
	padding:0 0 0 20px;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
}

.content blockquote p {
	font-size: 15px;
	line-height: 25px;
}


