.rhino-crisis-filter .layer-filter {
	display: block;
	clear: both;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	text-align: left;
	opacity: .6;
	cursor: pointer;
}

.rhino-crisis-filter .layer-filter label {
	cursor: pointer;
}

.rhino-crisis-filter .layer-filter:hover,
.rhino-crisis-filter .layer-filter.active {
	opacity: 1;
}


.rhino-crisis-filter .layer-filter .icon {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	float: left;
	margin-right: 10px;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.rhino-crisis-filter input[type=radio] {
	display: none;
}

.rhino-crisis-filter select {
	margin: 0 0 10px;
}

.rhino-crisis-filter .filter-count {
	margin: 0 0 10px;
	line-height: 20px;
	text-transform: uppercase;
	color: #999;
	text-align: left;
	font-size: 12px;
}

.rhino-crisis-filter .filter-count .total {
	font-weight: 800;
	color: #f0f0f0;
	font-size: 18px;
	display: block;
	float: right;
	margin-left: 10px;
}

.map .rhino-crisis {
	color: #fff;
	background: #333;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-top: -30px;
	margin-left: -15px;
	text-align: center;
	position:relative;
}

.map .rhino-crisis.rhino_deaths,
.rhino-crisis-filter .layer-filter.rhino_deaths .icon {
	background: #B90000;
}

.map .rhino-crisis.rhino_deaths:before,
.rhino-crisis-filter .layer-filter.rhino_deaths .icon:before {
	content: url(../../images/rhinoicon.png);
	position: absolute;
	width: 30px;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: .3;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

.map .rhino-crisis.poaching_arrests,
.rhino-crisis-filter .layer-filter.poaching_arrests .icon {
	background: #E0E000;
}

.map .rhino-crisis.poaching_arrests .marker-content {
	color: #333;
}

.map .rhino-crisis .marker-content {
	position: relative;
	z-index: 2;
	color: #fff;
	font-weight: 800;
	font-size: 11px;
}

.map .rhino-crisis:hover .bubble-container {
	display: block;
}

.map .rhino-crisis .bubble-container {
	display: none;
	position: absolute;
	bottom: 30px;
	width: 140px;
	left: 50%;
	margin-left: -70px;
}

.map .rhino-crisis .bubble-container:after {
	content: '';
	width: 0px;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #333;
	bottom: 3px;
	left: 50%;
	position: absolute;
	margin-left: -7px;
}

.map .rhino-crisis .bubble-container .bubble-content {
	margin-bottom: 10px;
	background: #333;
	color: #f0f0f0;
	padding: 8px 5px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 800;
}

.leaflet-marker-pane > * {
	position: absolute;
}